img {
    width: 60px
}
body {
    text-align: center;
    
}
body {
    font-weight: 2000px;
}
p {
    font-size: 13px;
    color: #000000;
}
h2 {
    font-size: 25px;
    color: #000000;
    font-style:oblique;
}
h3 { 
    font-size: 16px;
    
}
h4 {
    font-size: 17px;
}    
    
@keyframes moveImage {
  0% { transform: translateX(-30px); }
  50% { transform: translateX(30px); }
  100% { transform: translateX(-30px); }
  
}
.moving-image {
  animation: moveImage 4s infinite;
}

body {
    background-color: hsl(32, 100%, 50%); /* yellow */
}
body {
  cursor: pointer;
}

